<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFarmFinance"
        tools:targetApi="31">

        <!-- Aktivitas tanpa intent-filter -->
        <activity
            android:name=".LaporanPengeluaranActivity"
            android:exported="false" />
        <activity
            android:name=".LaporanPendapatanActivity"
            android:exported="false" />
        <activity
            android:name=".InsertDataPendapatanActivity"
            android:exported="false" />
        <activity
            android:name=".InsertDataPengeluaranActivity"
            android:exported="false" />
        <activity
            android:name=".InsertUserActivity"
            android:exported="false" />
        <activity
            android:name=".InsertJenisPengeluaranActivity"
            android:exported="false" />
        <activity
            android:name=".InsertJenisPendapatanActivity"
            android:exported="false" />
        <activity
            android:name=".MasterJenisPengeluaranActivity"
            android:exported="false" />
        <activity
            android:name=".MasterJenisPendapatanActivity"
            android:exported="false" />
        <activity
            android:name=".MasterUserActivity"
            android:exported="false" />
        <activity
            android:name=".MasterDasboardActivity"
            android:exported="false" />
        <activity
            android:name=".LaporanActivity"
            android:exported="false" />
        <activity
            android:name=".DataPengeluaranActivity"
            android:exported="false" />
        <activity
            android:name=".DataPendapatanActivity"
            android:exported="false" />

        <!-- Aktivitas Dashboard -->
        <activity
            android:name=".Dashboard"
            android:exported="true"
            android:theme="@style/AppTheme" />

        <!-- Aktivitas utama dengan intent-filter -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>
